id: relay-ping
name: Relay Ping
enabled: true
trigger:
  type: nostr_event
  filters:
    kinds: [4]
    from_whitelist: true
    content_pattern: ^/ping$
actions:
  - id: reply
    type: nostr_dm
    to: '{{ trigger.from }}'
    content: pong
