enabled: true
host: env:SMTP_HOST
port: 587
secure: false
auth:
  user: env:SMTP_USER
  pass: env:SMTP_PASSWORD
from:
  name: PipeliNostr Calendar
  address: env:SMTP_USER
organizer:
  name: PipeliNostr
  email: env:SMTP_USER
