id: api-to-zulip-public
name: API to Zulip Public
description: Forward API calls to Zulip public stream
enabled: false
trigger:
  source: webhook.post
  path: /api/zulip-notify
actions:
  - id: send_zulip
    type: zulip
    stream: 🧪protos
    topic: 🦚 Pipelinostr
    content: |
      Notification API:

      {{ trigger.content }}

      ---
      Via PipeliNostr webhook
